<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

<!--    <bean id="musicBean"-->
<!--          class="ru.test.springcourse.RockMusic">-->
<!--    </bean>-->

<!--    bean ROck или bean Classic-->

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="musicBean"
          class="ru.test.springcourse.ClassicalMusic"
            init-method="doMyInit"
            destroy-method="doMyDestroy"
            scope="prototype">
    </bean>


    <!--          нужен пустой констрктор и set  ()  -->
<!--    <bean id="musicPlayer"-->
<!--          class="ru.test.springcourse.MusicPlayer"-->
<!--            scope="prototype">-->
<!--&lt;!&ndash;        <property name="name" value="Some name" />&ndash;&gt;-->
<!--&lt;!&ndash;        <property name="volume" value="50" />&ndash;&gt;-->
<!--        <property name="name" value="${musicPlayer.name}"/>-->
<!--        <property name="volume" value="${musicPlayer.volume}"/>-->
<!--    </bean>-->


</beans>